.faces{
    box-sizing: border-box;
    border: 0;

    width: 45px;
    height: 45px; 

    background-image: url('../../public/faces/normalFace.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}